<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/logo.png">
  <link rel="stylesheet" href="/perfil.css">
  <link id="theme-link-light" rel="stylesheet" href="/base.css">
  <link id="theme-link-dark" rel="stylesheet" href="/dark-mode.css" disabled>
  <link id="theme-link-blue" rel="stylesheet" href="/blue-mode.css" disabled>
  <link id="theme-link-full-black" rel="stylesheet" href="/full-black-mode.css" disabled>
  <link id="theme-link-pink" rel="stylesheet" href="/pink-mode.css" disabled>
  <script src="/dark.js"></script>
  <title>HANDS</title>
</head>
<script>
  setTimeout(function () {
    document.getElementById("success").style.transitionDuration = ".3s";
    setTimeout(function () {
      document.getElementById("success").style.opacity = "0"; // Define a opacidade como 0
      setTimeout(function () {
        document.getElementById("success").style.display = "none";
      }, 300)
    }, 500); // 500 milissegundos para a transição
  }, 2000);
</script>
<script>
  setTimeout(function () {
    document.getElementById("erro").style.transitionDuration = ".3s";
    setTimeout(function () {
      document.getElementById("erro").style.opacity = "0"; // Define a opacidade como 0
      setTimeout(function () {
        document.getElementById("erro").style.display = "none";
      }, 300)
    }, 500); // 500 milissegundos para a transição
  }, 2000);
</script>

<body class="configuracao">
  <div class="row-config">
    <div class="opcoes">
      <h2 class="titulo-config">
        Configurações
      </h2>
      <ul>
        <a href="/profile">
          <button>
            <li>Tema</li>
            <p>Estilize o seu HANDS</p>
          </button>
        </a>
        <a href="/profilePerfil">
          <button>
            <li>Editar perfil</li>
            <p>Deixe o seu HANDS com a sua cara</p>
          </button>
        </a>
        <a href="/profileSenha">
          <button>
            <li>Segurança</li>
            <p>Mude sua senha</p>
          </button>
        </a>
        <a>
          <button>
            <li>Segurança</li>
            <p>Delete sua conta</p>
          </button>
        </a>
      </ul>
    </div>
    <div class="conteudo">
      <svg class="line-dash" width="2662" height="2067" viewBox="0 0 1962 1067" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M232.5 29C219.5 10.9753 178.517 9.94968 148.262 10.9753C108.089 12.3371 71.4461 35.4243 46.1768 66.3742C-7.29748 131.87 -3.1579 244.97 32.697 317.231C56.41 365.022 100.045 407.368 152.701 422.111C186.744 431.643 222.656 431.938 257.745 430.824C292.806 429.711 325.064 413.327 356.543 399.097C475.892 345.144 574.872 260.665 676.114 179.802C785.818 92.1816 912.95 35.6842 1051.91 14.0987C1205.4 -9.74515 1372.6 19.2622 1516.8 73.7717C1581.57 98.2579 1643.29 131.067 1694.5 178.323C1741.83 221.995 1773.05 259.782 1811.38 312.957C1867.69 391.083 1917.59 475.536 1939.61 570.39C1958.39 651.303 1964.78 712.293 1939.61 792C1921.66 848.825 1865.89 916.973 1816.31 945.36C1755.62 980.117 1688.95 1001.55 1622.01 1020.65C1531.13 1046.58 1442.36 1060.35 1347.81 1061.25C1296.02 1061.75 1244.02 1060.89 1192.62 1054.19C1187.08 1053.46 1179.37 1054.47 1176.84 1049.42"
          stroke="#1C83FD" stroke-width="10" stroke-linecap="round" stroke-dasharray="20 20" />
      </svg>
      <header>
        <ul>
          <a href="index">
            <svg width="182" height="47" viewBox="0 0 182 47" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M19.9937 1.05214C19.3976 1.79571 18.8045 4.2849 17.8389 10.0912C17.1064 14.4981 16.3709 18.3196 16.205 18.5835C15.5478 19.6267 15.254 17.195 15.2249 10.4769C15.1975 4.07048 15.1266 3.45238 14.341 2.75496C13.1706 1.71514 10.9098 1.83389 9.96009 2.98491C9.30755 3.77548 9.20834 4.85517 9.20834 11.168C9.20834 15.3407 9.0343 18.5458 8.79954 18.688C8.14314 19.0862 7.23061 17.2974 5.97855 13.1561C4.59991 8.59653 3.4509 7.19079 1.61942 7.82274C-0.469063 8.54365 -0.509687 9.78951 1.33676 16.5047C2.49646 20.7219 3.17081 22.5175 3.54199 22.3778C4.29416 22.0945 4.26124 21.8734 2.5311 15.6168C1.19608 10.7903 1.06565 9.9347 1.58692 9.42318C2.63843 8.39133 3.46886 9.60236 4.92618 14.2933C5.67922 16.7166 6.5956 19.03 6.96249 19.4337C7.82329 20.3804 8.89148 20.3678 9.78348 19.4005C10.3839 18.7497 10.4912 17.5471 10.4912 11.4793C10.4912 3.78262 10.6605 3.17039 12.7127 3.45573C13.6923 3.59211 13.6996 3.64078 13.9121 11.356C14.0297 15.6256 14.2816 19.3552 14.4719 19.6435C14.9996 20.4437 16.8195 20.2704 17.3083 19.3741C17.5464 18.9373 18.3551 14.9651 19.1051 10.5469C19.8547 6.12873 20.7065 2.19434 20.9973 1.8041C21.7811 0.752102 23.9192 1.56198 24.08 2.97107C24.145 3.54385 23.5258 7.59531 22.7035 11.9745C21.3497 19.1853 21.2689 20.0266 21.8466 20.8915C22.6308 22.066 23.9893 22.1273 24.6941 21.019C24.984 20.5642 26.1882 17.4161 27.3705 14.0235C28.647 10.361 29.8242 7.6721 30.2685 7.4048C31.3401 6.75942 32.4908 7.58817 32.6093 9.09042C32.7311 10.6367 27.6091 24.3626 26.706 24.9098C26.2074 25.2119 25.149 24.8921 22.6749 23.6924C18.7596 21.7936 15.1659 21.3984 9.68641 22.264C4.73119 23.0471 3.3115 23.729 2.82188 25.5619C1.57623 30.2239 1.92559 39.5424 3.45475 42.4445C4.48103 44.3916 5.85924 44.9618 12.0948 46.0193C24.3297 48.0935 24.9357 47.7914 32.428 35.8762C33.7437 33.7835 36.0811 30.6917 37.6222 29.0049C39.1633 27.3184 40.4244 25.7079 40.4244 25.4263C40.4244 24.3248 38.8632 23.525 36.7131 23.525C34.2825 23.525 32.6422 24.4973 29.3063 27.9151C26.8386 30.4433 25.5386 31.1063 23.6417 30.8042C19.4558 30.1378 13.018 32.5083 11.5743 35.2476C10.256 37.7498 10.0666 38.5429 10.7294 38.7921C11.1446 38.9487 11.5628 38.5164 12.0079 37.4699C13.5102 33.9421 16.5736 32.3891 22.4204 32.1906C26.7928 32.0421 26.8197 32.0295 31.5599 27.7695C34.6443 24.9979 35.0193 24.7839 36.7982 24.7839C39.044 24.7839 39.2711 25.389 37.5974 26.9139C35.7574 28.5903 33.0206 32.272 29.9803 37.1627C25.7084 44.0336 23.6507 45.8498 20.172 45.8196C19.1983 45.8112 15.7257 45.3282 12.4544 44.7462C5.71257 43.5465 4.94372 43.1101 4.02562 39.9654C3.39745 37.8127 3.3564 28.9512 3.96362 26.475C4.28732 25.1544 4.55758 24.9438 6.87141 24.2086C8.70931 23.6245 10.7366 23.3861 14.1259 23.3563L18.8297 23.3152L22.5342 25.133C27.9106 27.7708 27.6429 28.0192 31.8113 16.5173C33.355 12.2577 34.3154 8.99013 34.1551 8.54449C33.3281 6.25084 30.8419 5.22318 29.1161 6.46149C28.6598 6.78879 27.4081 9.70433 26.1078 13.4683C24.024 19.5004 22.8831 21.5591 22.8989 19.2587C22.9024 18.7203 23.4796 15.164 24.1814 11.356C24.8831 7.54789 25.4574 3.82584 25.4574 3.08478C25.4582 0.28842 21.7204 -1.10221 19.9937 1.05214ZM167.385 5.90759C162.313 6.74641 159.607 9.46598 159.607 13.7247C159.607 17.9768 162.28 20.6754 170.781 25.0075C172.509 25.8883 174.794 27.383 175.86 28.3293C177.56 29.8395 177.821 30.3057 177.999 32.1378C178.166 33.8595 178.031 34.4365 177.232 35.4301C173.914 39.5554 166.064 38.1212 162.729 32.7806C162.144 31.8445 161.567 31.0791 161.446 31.0803C161.325 31.0816 160.671 31.5184 159.993 32.0509C158.871 32.9321 158.808 33.1125 159.306 34.0424C161.468 38.0821 165.748 40.6939 170.786 41.0476C174.588 41.3145 177.412 40.4274 179.509 38.3087C182.342 35.4482 182.754 32.2351 180.768 28.5051C179.367 25.8741 177.276 24.2023 171.652 21.2171C164.55 17.4476 162.793 15.668 163.341 12.799C164.1 8.8269 169.984 7.74553 177.081 10.2738L179.828 11.2519V9.43199V7.61167L177.583 6.9558C175.509 6.35029 173.978 6.07753 170.634 5.71959C169.928 5.64406 168.466 5.72883 167.385 5.90759ZM47.6939 23.5502V41.1999L49.2974 41.0694L50.901 40.9394L51.1148 34.4919L51.3286 28.0443L59.0257 23.9119C63.2591 21.6392 66.8639 19.7727 67.0363 19.7639C67.2086 19.7555 67.401 24.5166 67.4639 30.3439L67.5781 40.9394H69.0747H70.5714L70.683 23.4201L70.7946 5.90087H69.0794H67.3643V10.8885V15.8761L59.4174 20.1202C55.0463 22.4546 51.3902 24.3643 51.2927 24.3643C51.1948 24.3643 51.1148 20.21 51.1148 15.1326V5.90087H49.4044H47.6939V23.5502ZM84.061 7.89408C83.819 8.75976 81.6296 16.4544 79.196 24.9937L74.7719 40.5197L76.458 40.6511C77.385 40.7232 78.2347 40.6926 78.3463 40.5835C78.602 40.3322 81.4491 30.7274 84.9286 18.3779C86.4086 13.1238 87.759 8.96957 87.9297 9.14623C88.0998 9.32289 89.3806 13.5275 90.7754 18.4895L93.3116 27.5114L89.6564 27.7212C86.2012 27.9197 85.9849 27.9885 85.7052 28.9801C85.1181 31.0619 85.0834 31.0434 89.8894 31.1689L94.4547 31.288L95.7273 36.0088L97.0003 40.7295H98.8591C99.882 40.7295 100.718 40.5361 100.718 40.2999C100.718 40.0636 98.6017 32.4034 96.0146 23.2774C93.4275 14.1515 91.3108 6.60248 91.3108 6.50261C91.3108 6.40232 89.7787 6.32049 87.9066 6.32049H84.5019L84.061 7.89408ZM104.567 23.525V40.7295H106.428H108.29L108.537 36.848C109.163 27.0217 114.737 15.8749 120.813 12.3001C122.087 11.5502 123.283 10.9363 123.47 10.9363C123.657 10.9363 123.81 17.6398 123.81 25.8329V40.7295H125.734H127.658V23.468V6.20635L125.721 6.46694C120.242 7.2038 113.405 12.8788 110.178 19.3682L108.424 22.8956L108.419 14.608L108.416 6.32049H106.491H104.567V23.525ZM132.362 23.4797V40.7295H134.286H136.211V24.9454V9.16134L138.669 9.45088C143.513 10.0211 147.14 12.4151 149.123 16.349C149.978 18.0464 150.096 18.9134 150.096 23.525C150.096 28.1681 149.982 28.9969 149.102 30.7442C147.619 33.69 144.876 35.9626 141.786 36.8056C139.263 37.4938 139.204 37.5433 139.204 38.9646V40.419L141.067 40.213C142.092 40.0997 143.996 39.5277 145.299 38.9424C151.39 36.206 154.582 29.8924 154.049 21.6367C153.739 16.832 152.455 13.8011 149.501 10.9028C146.17 7.63433 143.478 6.65367 137.173 6.41323L132.362 6.22985V23.4797Z"
                fill="#A1A1A1" />
            </svg>
          </a>
          <li><a href="index">Home</a></li>
          <li><a href="kids">KIDS</a></li>
          <li><a href="profissionais">Profissionais</a></li>
          <li><a href="aulas">Aulas</a></li>
          {{#if (eq user.nm_nivel 'Avancado')}}
          <li><a href="upload">Upload</a></li>
          {{/if}}
          {{!-- <li><a href="/"><span class="login-aulas">Log in</span></a></li> --}}
          {{!-- <li><a href="cadastro"><span class="sing-aulas">Usuário Premium</span></a></li> --}}
          <a href="/perfil">
            <div class="img-perfil-profile">
              {{#if user_profile}}
              <img src="{{user_profile.url}}" width="145.269" height="156.839"
                alt="Foto de perfil de {{user.nm_usuario}}" />
              {{else if prof_profile}}
              <img src="{{prof_profile.url}}" width="145.269" height="156.839"
                alt="Foto de perfil de {{user.nm_prof}}" />
              {{else}}
              <p><img class="padrão" src="default-profile.png" alt="Foto de perfil padrão" /></p>
              {{/if}}
            </div>
          </a>
        </ul>
      </header>
      <h2 class="titulo-2">Excluir conta</h2>
      <div class="alert-text">
        {{#if success_msg}}
        <div id='success' class="alert alert-success">{{success_msg}}</div>
        {{/if}}
        {{#if error_msg}}
        <div id="erro" class="alert alert-danger">{{error_msg}}</div>
        {{/if}}
      </div>
      <div class="row-perfil-profile">
        <div class="txt-center">
          <p>tem certeza que deseja deletar sua conta? Você irá perder todo seu desempenho dentro do HANDS, poderá usar
            o e-mail novamente para um novo cadastro, mas não terá as suas conquistas passadas.</p>
        </div>
      </div>
      <div class="row-perfil-profile">

        <form class="loginForm" action="/auth/delete" method="post">
          <input class="input" type="password" name="senha_usu" placeholder="Senha" required />
          <button class="button" type="submit" id="submit" value="Excluir conta" />Excluir</button>
        </form>
      </div>
    </div>
  </div>
  </div>
  <script src="/modal.js"></script>
  <script src="/troca-pag.js"></script>
</body>

</html>