<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profissionais</title>
</head>
<body>
    <ul>
{{#each Prof_map}}
  <li>
    {{#if profPhoto}}
      <img src="{{profPhoto}}" alt="{{nm_prof}}" width="80px" height="80px">
    {{else}}
      <img src="default-profile.png" alt="Perfil padrão" width="80px" height="80px">
    {{/if}}
    <p>Nome: {{nm_prof}}</p>
    <p>Idade: {{nr_idade}}</p>
  </li>
{{/each}}
    </ul>
</body>

</html>