<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profissionais</title>
</head>
<body>
<div class="professoresCadastrados">
  {{#each Prof_map}}
    <div class="imagemProfessorCadastrado">
        {{#if profPhoto}}
          <img src="{{profPhoto}}" alt="{{nm_prof}}" width="80px" height="80px">
        {{else}}
          <img src="default-profile.png" alt="Perfil padrão" width="80px" height="80px">
        {{/if}}
    </div>
   <div class="nm_prof-nr_idade">
     <p>Nome: {{nm_prof}}</p>
    <p>Idade: {{nr_idade}}</p>
    <P>Estado: {{nm_estado}}</P>
   </div>
{{/each}}
</div>
</body>
</html>